<div class="footer__modal js__modal__conatainer" id="footer__modal">
  <div class="footer__modal__wrapper">
    <button class="footer__modal__btn footer__toogle js__close__modal">
      X
    </button>
    <div class="footer__modal__team">
      <h1 class="footer__modal__header">
        You can enjoy this page thanks to those people:
      </h1>
      <ul class="footer__modal__list">
        <li class="footer__modal__item">
          <h3>Sławomir Glinkau</h3>
          <p>Team Leader</p>
          <a
            class="footer__modal__link"
            href="https://github.com/SGlinkau"
            target="_blank"
            ><img
              clas="footer__modal__icon"
              src="./components/footer/img/github.svg"
              alt="github"
              style="height: 20px"
          /></a>
        </li>
        <li class="footer__modal__item">
          <h3>Ewa Zawilińska</h3>
          <p>Scrum Master</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Agata Warzyszyńska</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Jakub Ławnicki</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Marcin Kowalczyk</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Łukasz Kociołł</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Ania Miller</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Wiktor Pośpiech</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
        <li class="footer__modal__item">
          <h3>Kacper Trybus</h3>
          <p>Developer</p>
          <img
            clas="footer__modal__icon"
            src="./components/footer/img/github.svg"
            alt="github"
            style="height: 20px"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
