.footer,
.footer__btn {
  font-family: $mainFont;
  font-weight: $secondFontWieght;
  line-height: 16.41px;
  font-size: 14px;
  color: #545454;
  background-color: #f7f7f7;
  @media screen and (max-width: 369px) {
    font-size: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  &__wrapper {
    padding-left: 48px;
    padding-right: 48px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      height: 79px;
    }
  }

  &__wrapper p {
    display: flex;
    justify-content: center;
  }
  &__image {
    animation: heartbeat 1s infinite;
    width: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__year {
    margin-left: 8px;
    margin-right: 4px;
  }
  &__btn {
    border: none;
    position: relative;
  }
  &__btn::after {
    position: absolute;
    right: 0;
    margin-top: 16px;
    content: '';
    width: 100%;
    border-bottom: solid 3px #ff6b08;
    border-radius: 4px;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
}
