.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.movie-box {
  width: 200px;
  height: 360px;
  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    cursor: pointer;
  }
}
