
#trailer-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    width: 95%; 
    max-width: 1000px;
    height: 70vh; 
    max-height: 90vh;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: transparent;
    overflow: hidden;
    color: white; 
}

#trailer-modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#trailer-modal iframe {
    width: 100%;
    height: 100%;
}

#trailer-modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}
body.modal-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 999; 
    pointer-events: auto; 
  }
.movie-box__trailer-button {
    background-color: rgba(0, 128, 0, 0.8); 
    color: white; 
    border: none;
    padding: 4px 6px; 
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .movie-box__trailer-button:hover {
    background-color: rgba(0, 128, 0, 1); 
  }
  